<h1>Hair Salon</h1>

<form action="/stylists" method="post">
  <label for="name">Enter stylist name here:</label>
  <input id="name" name="name" type="text" required>

  <button class="btn btn-primary" type="submit">Add stylist</button>
</form>

<hr>
<% if @stylists.any?() %>
<p><small>Click on a stylist below to view clients:</small></p>

<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name().capitalize %></a></li>
  <% end %>
</ul>
<% else %>
<p>(There are no stylists)</p>
<% end %>
